{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.FirstName, post.LastName }}</a></h2>
          <p class="article-content">{{ post.Company }}</p>
          <p class="article-content">{{ post.PhoneNumber }}</p>
          <p class="article-content">{{ post.Email}}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}